<h2><i class="fa fa-list-alt "></i> &nbspListado de eventos</h2>

<table class="table table-hover">
  <thead>
    <th>Fecha</th>
    <th>Nombre</th>
    <th>Hora</th>
    <th>Lugar</th>
    <th></th>
    
  </thead>

<% @eventos.each do |evento| %>
  <tr>
    <td><%= evento.fecha %></td>
    <td><%= evento.nombre %></td>
    <td><%= evento.hora.strftime("%I:%M %p") %></td>
    <td><%= evento.lugar %></td>
    <td align ="right">
      <%= link_to evento do %> 
        <i class="fa fa-fw fa fa-share-square-o"></i> Mostrar </a>                   
      <% end -%>
      <%= link_to  edit_evento_path(evento) do %> 
        <i class="fa fa-fw  fa fa-pencil-square-o"></i> Editar </a>                   
      <% end -%>
      <%= link_to  evento, method: :delete, data: { confirm: 'Seguro que desea eliminarlo?' } do %>
        <i class="fa fa-fw fa-trash-o"></i> Eliminar </a>                   
      <% end -%>
    </td>
  </tr>
<% end %>
</table>

<br />               

<%= link_to new_evento_path, :class=> "btn btn-primary btn", :role=>"button" do %>

 <i class="fa fa-fw  fa fa-plus"></i>Agregar Evento </a>                   


<% end -%>