<h2><i class="fa fa-calendar"></i>&nbspEvento</h2>

<p id="notice"><%= notice %></p>

<p>
  <b>Fecha:</b>
  <%= @evento.fecha %>
</p>

<p>
  <b>Nombre:</b>
  <%= @evento.nombre %>
</p>

<p>
  <b>Hora:</b>
  <%= @evento.hora %>
</p>

<p>
  <b>Lugar:</b>
  <%= @evento.lugar %>
</p>


<%= link_to edit_evento_path(@evento), :class=> "btn btn-warning btn", :role=>"button" do%>
	<i class="fa fa-pencil-square-o"> Editar</i>
<% end -%>
 &nbsp
<%= link_to eventos_path, :class=> "btn btn-danger btn", :role=>"button" do %>
	<i class="fa fa-arrow-left"> Volver</i>
<% end -%>
